<ion-content [fullscreen]="true">
  

  <div id="container">
    <strong>WELCOME</strong>
    <P>End-to-end check-in solution for companies, <br> corporate and proffetional training</P>
  </div>
  <div>
    <div>
      <img src="../../assets/Screenshot_2022-02-15_at_10.34.52.png" alt="">
    </div>
  </div>
  <div>
    <ion-button [routerLink]="['/login']">sign in</ion-button>
  </div>
  <div id="signup">
    <ion-button id="second-btn" [routerLink]="['/register']">sign up</ion-button>
  </div>

</ion-content>
