
<ion-header>
  <ion-toolbar color="secondary" >
    <ion-title class="text">Log In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <div class="position">
  <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
    <ion-item lines="full" >
      <ion-label position="floating" class="lindo">Email</ion-label>
      
      <ion-input type="text" name = "email" formControlName="email" required></ion-input>
      <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
        <span *ngIf="email.errors?.required" class="text_color">Email is required</span>
        <span *ngIf="email.errors?.email" class="text_color">Email is invalid</span>
      </div>
  
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating" class="color">Password</ion-label>
      
      <ion-input type="password" name="password" formControlName="password" required></ion-input>
      <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
        <span *ngIf="password.errors?.required" class="text_color">Password is required</span>
        <!-- <span *ngIf="password.errors?.required">Password is invalid</span> -->
      </div>
    </ion-item>

    <ion-row>
      <ion-col class=" pad">
        <ion-button class="wrapper" type="submit" color="secondary" expand="block" >Sign In</ion-button>
        <h5>
          Don't have an account?
        <a class="small-text" routerLink='/register'>Register</a>
        </h5>
      </ion-col>
    </ion-row>
  </form>
</div>
  
</ion-content>

