
.lindo {
    color: black;
    padding-inline-start: 5%;
}
.color {
    color: black;
    padding-inline-start: 5%;
}
.text {
    color: white;
}

.position {
    align-items: center;
    justify-content: center;
    transform: translateY(50%);
}
.background {
    background: url(../../assets/background2.jpeg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}


.pad{
    padding-top: 10%;
}
.wrapper {
 padding-inline-end: 20%;
 padding-inline-start: 20%;
}
.text_color{
    color: red;
}
.placeholder{
    color:black;
}

h5{
    padding-top: 10%;
}