ion-text{
    color:#5500CC ;
    justify-content: center;
  padding-top: 20%;
    position: absolute;
    padding-left: 10%;
    border: #5500CC;
    border-color: #5500CC;
}
ion-button{
    justify-content: center;
    --background-color: #5500CC;
    transform: translateY(700%);
    position: absolute;
    padding-left: 35%;

}
on-card-content{
    --border-color: #5500CC;

}