

<ion-content class="cont">
  
  <div class="container-fluid mt-5">
    <ion-card>
      <ion-item>
        <form [formGroup]="formTemp">
          <ion-input type="text" formControlName="temperature" placeholder="Temperature">
          </ion-input>
        </form>
      </ion-item>
    </ion-card>
  </div>


  <div class="container-fluid">
    <ion-card>
      <ion-card-content>
        Do you have any COVID symptoms <br>
        if Yes, please see Covid compliance <br>
        Officer immediately*

        <form [formGroup]="tempForm">
          <ion-list>
            <div class="form-check">
              <ion-label>Yes</ion-label>
              <input class="form-check-input" type="radio" id="yes" formControlName="checked" (change)="setCovidStatus()" [value]="true">
            </div>



            <div class="form-check">
              <ion-label>No</ion-label>
              <input class="form-check-input" type="radio" id="no" formControlName="checked" (change)="setCovidStatus()" [value]="false">
            </div>
          </ion-list>
        </form>

      </ion-card-content>
    </ion-card>
  </div>

  <!-- <div class="container-fluid">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Attendence History</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        
        <ion-infinite-scroll>
          <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Loading more data…">
            
              <p>  Keep close to Nature's heart... and break clear away, once in awhile,
                          and climb a mountain or spend a week in the woods. Wash your spirit clean.
              </p>

              <p>  Keep close to Nature's heart... and break clear away, once in awhile,
                      and climb a mountain or spend a week in the woods. Wash your spirit clean.
              </p>
              
              <p>  Keep close to Nature's heart... and break clear away, once in awhile,
                and climb a mountain or spend a week in the woods. Wash your spirit clean.
              </p>
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
        
        
      </ion-card-content>
    </ion-card>
  </div> -->

  <div class="scan">
    <ion-button class="btn p-0 ms-4" color="primary" routerLink='/scan' expand="block" (click)="setTemperature()">
      <ion-icon name="camera-outline"></ion-icon>
    </ion-button>
  </div>

  
    
  

</ion-content>

