ion-button{
    justify-content: center;
    position: absolute;
    left: 30%;
    right: 30%;
    transform: translateY(400%);
    // --background:#5500CC;
}

ion-item{

    --background: #DDE7FF;
}
ion-content {
    margin-top: 3rem;
    // transform: translateY(.5%);
}

.tabs{
    margin-bottom: 6rem;
}

ion-tab-button {
    background-color: #50C8FF;
}

#icon {
    color: white;
}





