<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title position="center" >
      <strong>Attendance History</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
    <table class="table table-striped table-bordered table-hover mt-5">
      <thead>
          <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Temperature</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let attEmp of attendance">
            <td>{{attEmp.date}}</td>
            <td>{{attEmp.time}}</td>
            <td>{{attEmp.temperature}}</td>
          </tr>
      </tbody>
  </table>
</ion-grid>

  
</ion-content>