<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Attendance History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <!-- <ion-row class="ion-margin">
    <ion-col>
      <ion-title>
        <ion-text color="default">
         <strong>Attandace History</strong> 
        </ion-text>
      </ion-title>
    </ion-col>
  </ion-row> -->
  <ion-grid >

   

    <ion-row class="header-row">
      <ion-col>
        <ion-text>Date</ion-text>
      </ion-col>

      <ion-col>
        <ion-text>Time</ion-text>
      </ion-col>

      <ion-col>
        <ion-text>Temperature</ion-text>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <ion-text>
            19/10/2020
        </ion-text>
      </ion-col>

        <ion-col>
          <ion-text>
            14:30:55
          </ion-text>
        </ion-col>
  
        <ion-col>
          <ion-text>
            36.5
          </ion-text>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text>
            19/10/2020
        </ion-text>
      </ion-col>

        <ion-col>
          <ion-text>
            14:30:55
          </ion-text>
        </ion-col>
  
        <ion-col>
          <ion-text>
            36.5
          </ion-text>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text>
            19/10/2020
        </ion-text>
      </ion-col>

        <ion-col>
          <ion-text>
            14:30:55
          </ion-text>
        </ion-col>
  
        <ion-col>
          <ion-text>
            36.5
          </ion-text>
        </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>