
ion-content {
    position: absolute;
    transform: translateY(20%);
#items {
    --background: #DDE7FF;
    --border-style: none;
    #input {
        font-size: 1rem;
        #text_color {
            --color: red;
        }
    }

    #icon {
        font-size: 2rem;
        color: #000000;
        text-transform: 500;
    }
}

#button {
    margin: 1rem;
    --background: #50C8FF;
}

#text {
    margin: 1rem;
    margin-top: 4rem;
    h5 {
        text-align: center;
    }
    a {
        text-decoration: none;
        color: #5500CC;
    }
}
}
.errors{
   color: red;
}