<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]= "form" (ngSubmit)= "onSubmit()">


    <ion-card>
    <ion-item id="items">
      <ion-input placeholder="First Name" type ="Name" id="input" formControlName="firstName" required></ion-input>
      <ion-icon id="icon" slot="end" name="person-outline"></ion-icon>
      <!-- <div *ngIf= "(firstName.dirty || firstName.touched) && firstName.errors" class= "errors" >
        <span *ngIf= "firstName.errors?.required">Name is required</span>
        <span *ngIf= "firstName.errors?.invalid">Name is invalid</span>
      </div> -->
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item id="items">
      <ion-input placeholder="Last Name" id="input" type="name" formControlName="lastName"></ion-input>
      <ion-icon id="icon" slot="end" name="person-outline"></ion-icon>
      <!-- <div *ngIf= "(lastName.dirty || lastName.touched) && lastName.errors" class= "errors" >
        <span *ngIf= "lastName.errors?.required">last name is required</span>
        <span *ngIf= "lastName.errors?.lastName">last name is invalid</span>
      </div> -->
    </ion-item>
  </ion-card>



    <ion-card>
      <ion-item id="items">
      <ion-input placeholder="email" id="input" type="email" formControlName="email"></ion-input>
      <ion-icon id="icon" slot="end" name="mail-outline"></ion-icon>
      <!-- <div *ngIf= "(email.dirty || email.touched) && email.errors" class= "errors" >
        <span *ngIf= "email.errors?.required">email name is required</span>
        <span *ngIf= "email.errors?.email">email is invalid</span>
      </div> -->
    </ion-item>
    </ion-card>

    <ion-card>
      <ion-item id="items">
        <ion-input placeholder="Employee Number" id="input" type="number" formControlName="employeeNumber"></ion-input>
        <ion-icon id="icon" slot="end" name="id-card-outline"></ion-icon>
        <!-- <div *ngIf= "(employeeNumber.dirty || employeeNumber.touched) && employeeNumber.errors" class= "errors" >
          <span *ngIf= "employeeNumber.errors?.required">employee no is required</span>
          <span *ngIf= "employeeNumber.errors?.employeeNumber">employee no is invalid</span>
        </div> -->
    </ion-item>
    </ion-card>

    <ion-card>
      <ion-item id="items">
      <ion-input placeholder="Password" id="input" type="password" formControlName="password"></ion-input>
      <ion-icon id="icon" slot="end" name="key-outline"></ion-icon>
      <div *ngIf= "(password.dirty || password.touched) && password.errors" class= "errors" >
        <span *ngIf= "password.errors?.required">password is required</span>
        <span *ngIf= "password.errors?.invalid">password is invalid</span>
      </div>
    </ion-item>
    </ion-card>

    <ion-card>
      <ion-item id="items">
        <ion-input placeholder="Confirm" id="input" type="password"></ion-input>
        <ion-icon id="icon" slot="end" name="lock-open-outline"></ion-icon>
    </ion-item>
    </ion-card>

    <div id="button">
    <ion-button type="submit" expand="block" >Sign Up</ion-button>
  </div>


  </form>
</ion-content>