ion-button{
    justify-content: center;
    position: absolute;
    left: 30%;
    right: 30%;
    transform: translateY(400%);
    --background:#50C8FF;
}
ion-input{
    left:5%;
    right:10%;
}


