<ion-header>
  <ion-toolbar>
    <ion-title>dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item class="container-fluid">
    <ion-input class="mt-4 mx-auto border rounded" placeholder="Temperature"></ion-input>
  </ion-item>

  <div class="container-fluid">
      <ion-card>
      <ion-card-content>
        Do you have any COVID symptoms <br>
        if Yes, please see Covid compliance <br>
        Officer immediately*

        <ion-list>
          <ion-item class="d-flex">
            <ion-checkbox></ion-checkbox>
            <ion-label>Yes</ion-label>
          </ion-item>

          <ion-item class="d-flex">
            <ion-checkbox ></ion-checkbox>
            <ion-label>No</ion-label>
          </ion-item>
        </ion-list>
      
      </ion-card-content>
    </ion-card>
  </div>

  <div class="container-fluid">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Attendence History</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        
        <ion-infinite-scroll>
          <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Loading more data…">
            
              <p>  Keep close to Nature's heart... and break clear away, once in awhile,
                          and climb a mountain or spend a week in the woods. Wash your spirit clean.
              </p>

              <p>  Keep close to Nature's heart... and break clear away, once in awhile,
                      and climb a mountain or spend a week in the woods. Wash your spirit clean.
              </p>
              
              <p>  Keep close to Nature's heart... and break clear away, once in awhile,
                and climb a mountain or spend a week in the woods. Wash your spirit clean.
              </p>
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
        
        
      </ion-card-content>
    </ion-card>
  </div>
  
  <div class="scan ">
    <ion-button class="btn p-0 ms-4" color="light" (click)="scan()" expand="block" >Scan</ion-button>
  </div>

  <br>

  <ion-card>
    <div *ngIf="scannedData">
        <ion-item>
            Scanned code output: <strong>{{ scannedData["format"] }}</strong>
        </ion-item>
    </div>
</ion-card>

</ion-content>
